{% extends "global/VuePage.html" %}
{% load otree static %}

{% block title %}
    Vue Demo Page
{% endblock %}

{% block content %}
    <p>Your ID is: {{ player.id }}</p>
    <p v-if="live_data.sender">
        Number received from [[ live_data.sender ]]: [[ live_data.number ]].
    </p>
        
    <button type="button" class="btn btn-primary" onclick="send_random_number()">Send a random number to all group members</button>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function send_random_number() {
            let rnd = Math.floor(Math.random() * 100) + 1;
            liveSend(rnd);
        }
    </script>
{% endblock scripts %}