{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Vue Demo Page
{% endblock %}

{% block content %}
    <p>Your ID is: {{ player.id }}</p>
    <p v-if="live_data.sender">
        Number received from [[ live_data.sender ]]: [[ live_data.number ]].
    </p>
        
    <button type="button" class="btn btn-primary" onclick="send_random_number()">Send a random number to all group members</button>
{% endblock %}

{% block scripts %}
    <!-- Write your regular live send functions -->
    <script type="text/javascript">
        function send_random_number() {
            let rnd = Math.floor(Math.random() * 100) + 1;
            liveSend(rnd);
        }
    </script>
    
    <!-- Include these two scripts on your page to get reactive elements from live send data -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript">
        var live_data_received = {live_data: {}};
        liveSocket.onmessage = function (e) {
            live_data_received["live_data"] = JSON.parse(e.data);
        }

        new Vue({
            data: live_data_received,
            el: '._otree-content',
            delimiters: ["[[","]]"]
        });
    </script>
{% endblock scripts %}